.head {
  text-align: center;
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
}

/* .startCard {
  background-color: white;
  justify-content: center;
  text-align: center;
  background-size: contain;
  background-clip: content-box;
  border: 6px solid white;
  height: auto;
  width: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  display: flex;
  margin-top: 30px;
} */


.card {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-clip: content-box;
  border: 6px solid white;
  height: auto;
  width: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin-top: 30px;
 }

.cardBottom {
  margin-bottom: 30px;
}

body {
  background-image: url("../components/Images/militaryImg.jpg");
  background-repeat: no-repeat;
  background-size: 900px 1600px;
 }
 
.fa-spinner {
  font-size: 180px;
  position: absolute;
  left: 25%;
  top: 25%;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.btn-dark {
  background-color: #060b26;
  border-color: white;
}

.btn-dark:hover {
  background-color: #1a83ff;
}


  * Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='ssnumber'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid black;
}

input[type='submit'],
button {
  font: inherit;
}

.form-group {
  margin: 1.2rem 0;
  color: black;
  /* size: 436 x 77.97; */
}

.form-group input {
  margin: 0.2rem 0;
  color: #888;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
  color:black;
}

.form-container h1,
h2,
h3 {
  text-align: center;
  color:black;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: blue;
}

